body{
    padding:50px;
    background-color: #264653;
}

.btn{
    background-color: #012a4a;
    border: #2a9d8f solid 1px;
}

.card-header{
    background-color: #01497c;
    color: #ebebeb;
}

.card-body{
    background-color: #a9d6e5;
    font-size: 30px;
}

h1{
    color: white;
}

.offcounter{
    border: 2px solid red;
    padding-left: 5px;
    padding-right: 5px;
}

.cpdetect{
    font-size: 30px;
    animation: animate 1.5s linear infinite; 
    font-family: serif; 
    color:red; 
    text-align: center; 
}

@keyframes animate{ 
    0%{ 
      opacity: 0; 
    } 
    50%{ 
      opacity: 0.7; 
    } 
    100%{ 
      opacity: 0; 
    } 
  } 